body{
  margin: 0;
  background-color: #191924;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

body::-webkit-scrollbar {
  width: 0px;
}

main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1441px){
  html{
  display: flex;
  justify-content: center;
}
main {
  width: 1440px;
}
}
