.reseaux{
    display: flex;
    gap: 50px;
}

.reseaux img{
    height: 50px;
}

.reseaux a{
    background-color: #191924;
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .reseaux{
        gap: 0px;
    }
}